/* body {
    background-color: whitesmoke;
}

#price{
    color: blue;
}

#course-name {
    color: purple;
}

#container-div{
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
} */